<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_tommy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Crea tu PC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Tommy">
        <activity android:name=".RegistroFire" />
        <activity android:name=".LoginFirebase" />
        <activity android:name=".ComponentesPC" />
        <activity
            android:name=".Portada"
            android:theme="@style/Theme.Proyecto_Tommy.NoActionBar" />
        <activity android:name=".InicioProfe" />
        <activity android:name=".Perfil" />
        <activity android:name=".Recibo" />
        <activity android:name=".Psu" />
        <activity android:name=".Acerca" />
        <activity android:name=".Ram" />
        <activity android:name=".Almacenamiento" />
        <activity android:name=".Gpu" />
        <activity android:name=".ListaOrdenadores" />
        <activity android:name=".Cpu" />
        <activity android:name=".Registro" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>